querymodule/app/config.php
querymodule/public_html/web.config
.idea
*.log
app.ini
querymodule/vendor/
.htaccess
.vscode
profiler/
querymodule/public_html/xhprof/
experiments/
**/.ipynb_checkpoints/
build_artifacts/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*
.elasticbeanstalk/*
.platform/*

archive
data
**/.DS_Store
experiments
copilot
querymodule/sessionmanager-bundle
build_artifacts
cache-db-disk
docker-entrypoint-initdb.d